<div class="div_carritos">
    {{#each newCart}}
        <div class="div_carrito_individual">
            <h2>Carrito:</h2>
            {{#each this.products}}
                <div class="div_product">
                    <h3>{{this._id.name}}</h3>
                    <div>
                        <p>${{this._id.price}}</p>
                        <p>Cantidad: {{this.quantity}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
<div class="div_botones_prev_next">
    {{#if hasPrevPage}}
        <a href="/api/carts?page={{prevPage}}">⬅</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/api/carts?page={{nextPage}}">➡</a>
    {{/if}}
</div>
