<header class="header" id="arriba">
    <nav class="header_nav">
        <input type="checkbox" id="check">
        <label for="check" class="btn_check"><i class="fa-solid fa-bars"></i></label>
        <ul class="header_navbar_list">
            <div class="navbar_div_icon_home">
                <a href="/home">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">home</span>
                        <label>Home</label>
                    </div>
                </a>
            </div>
            <li><a href="/api/products"><i class="fa-solid fa-house list_icons"></i>Productos</a></li>
            <li><a href="/views/socket"><i class="fa-solid fa-folder list_icons"></i>Chat</a></li>
            <div class="navbar_div_icons">
                <a href="/api/carts">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <label>Carrito</label>
                    </div>
                </a>
                <a href="/session/logout">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">logout</span>
                        <label>Log Out</label>
                    </div>
                </a>
            </div>
        </ul>
    </nav>
</header>

{{#if noProducts}}
    <h3 style="text-align: center;">No hay productos agregados al carrito.</h3>
    {{else}}
        <div class="div_carritos">
            <h2>Carrito:</h2>
            {{#each newCart}}
                <div class="div_carrito_individual">
                    {{#each this.products}}
                        <div class="div_product">
                            <h3>{{this._id.title}}</h3>
                            <div>
                                <p>${{this._id.price}}</p>
                                <p>Cantidad: {{this.quantity}}</p>
                            </div>
                            <a href="/api/carts/delete/{{this._id._id}}">Eliminar</a>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
            <a href="/api/carts/purchase">Realizar compra</a>
        </div>
{{/if}}
<div class="div_botones_prev_next">
    {{#if hasPrevPage}}
        <a href="/api/carts?page={{prevPage}}">⬅</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/api/carts?page={{nextPage}}">➡</a>
    {{/if}}
</div>
