<div style="text-align:center">
    <h1>¡Bienvenido, {{ name }} {{ surname }}!</h1>

    {{#if isAdmin}}
        <h3>Podés ver los usuarios</h3>
        {{#each usersArray}}
            <div style="display: inline-block; margin: 5px auto">
                <div style="margin: 0px 20px; border:2px solid black; width:150px; text-align:center">
                    <br>
                    <p>Nombre: {{this.name}} </p>
                    <p>Apellido: {{this.surname}}</p>
                    <p>Género: {{this.gender}}</p>
                    <p>Rol: {{this.role}}</p>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>No tenés permisos para ver los usuarios</h3>
    {{/if}}
</div>