<div class="div_detail_container">
    <div class="div_detail">
        <div>
            <br>
            <h3>{{productFound.name}}</h3>
            <p> {{productFound.description}}</p>
            <p><b>Price:</b> {{productFound.price}}</p>
            <p><b>Code:</b> {{productFound.code}}</p>
            <p><b>Stock:</b> {{productFound.stock}}</p>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>