<div class="div_padre_products">
    {{#each productsArrayLimit}}
        <div class="div_product">
            <div>
                <br>
                <h3>{{this.name}}</h3>
                <p><b>Description:</b> {{this.description}}</p>
                <p><b>Price:</b> ${{this.price}}</p>
                <p><b>Code:</b> {{this.code}}</p>
                <p><b>Stock:</b> {{this.stock}}</p>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/index.js"></script>