<div class="div_padre_products">
    <div class="div_product">
        <div>
            <br>
            <h3>{{productFound.name}}</h3>
            <p><b>Description:</b> {{productFound.description}}</p>
            <p><b>Price:</b> {{productFound.price}}</p>
            <p><b>Code:</b> {{productFound.code}}</p>
            <p><b>Stock:</b> {{productFound.stock}}</p>
            <p><b>Id:</b> {{productFound.id}}</p>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>