<div class="div_detail_container">
    {{#each product}}
        <div class="div_detail">
            <div>
                <br>
                <h3>{{this.name}}</h3>
                <p> {{this.description}}</p>
                <p><b>Precio:</b> ${{this.price}}</p>
                <p><b>Código:</b> {{this.code}}</p>
                <p><b>Stock:</b> {{this.stock}}</p>
                <a href="#">Añadir al carrito</a>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/index.js"></script>