<header class="header" id="arriba">
    <nav class="header_nav">
        <input type="checkbox" id="check">
        <label for="check" class="btn_check"><i class="fa-solid fa-bars"></i></label>
        <ul class="header_navbar_list">
            <div class="navbar_div_icon_home">
                <a href="/home">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">home</span>
                        <label>Home</label>
                    </div>
                </a>
            </div>
            <li><a href="/api/products"><i class="fa-solid fa-house list_icons"></i>Productos</a></li>
            <li><a href="/api/realtimeproducts"><i class="fa-solid fa-book list_icons"></i>RealTime</a></li>
            <li><a href="/views/socket"><i class="fa-solid fa-folder list_icons"></i>Chat</a></li>
            <div class="navbar_div_icons">
                <a href="/api/carts">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <label>Carrito</label>
                    </div>
                </a>
                <a href="/session/logout">
                    <div class="nav_login">
                        <span class="material-symbols-outlined">logout</span>
                        <label>Log Out</label>
                    </div>
                </a>
            </div>
        </ul>
    </nav>
</header>
{{#if rol}}
    <div class="div_padre_users">
        {{#each users}}
            <div class="div_users">
                <p><strong>Nombre: {{this.first_name}}</strong></p>
                <p><b>Apellido:</b> {{this.last_name}}</p>
                <p style="margin:0px;"><b>Email:</b></p>
                <p style="margin:5px;">{{this.email}}</p>
            </div>
        {{/each}}
    </div>
    <div class="div_botones_prev_next">
        {{#if hasPrevPage}}
            <a href="/api/users?page={{prevPage}}">⬅</a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/api/users?page={{nextPage}}">➡</a>
        {{/if}}
    </div>
    {{else}}
        <center>
            <div>
                <h2>No tenés permisos para ver los usuarios.</h2>
            </div>
        </center>
{{/if}}