<div class="div_padre_users">
    {{#each users}}
        <div class="div_users">
            <p><strong>Nombre: {{this.first_name}}</strong></p>
            <p><b>Apellido:</b> {{this.last_name}}</p>
            <p><b>Email:</b> {{this.email}}</p>
            <p><b>Género:</b> {{this.gender}}</p>
        </div>
    {{/each}}
</div>
<div class="div_botones_prev_next">
    {{#if hasPrevPage}}
        <a href="/api/users?page={{prevPage}}">⬅</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/api/users?page={{nextPage}}">➡</a>
    {{/if}}
</div>